body{
    font-family: Arial;
    background: #f2f2f2;
}

.container{
    width: 400px;
    margin: auto;
    margin-top: 50px;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

input, button {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
}

button{
    background: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background: #45a049;
}